:root{
    --green:#155f36;
    --verdeUi:#009D00;
    --azul:#2980F2;
    --blanco:white;
    --negro:black;
    --rosadoUi:#BA1D48;
    --verdetrans:#4F8C58;

}


.Al_Column{
    display: flex;
    flex-direction: column;
}
.Al_Column div{
    margin: 0;
}
.Al_Row{
    display: flex;
    flex-direction: row;
}

.Item{
 margin: 10px;
  height: 50%;
  width: 100%;
}

.ItemWrap{
    flex-wrap: wrap;
}

.divItem{
    margin: 5px;
    background-color: var(--verdetrans);
    height: 100%;
    width: 100%;
}