 .GeneralFont h1,h2,h3,p,a{
    font-family: sans-serif;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    
}

.body {
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
    }

:root{
    --text-color: #7DB4A4;
}

.Black{
    color: var(--black);
    font-weight: 500;
}
.White{
    color: var(--blanco);
    font-weight: 500;
}

.pgreentext{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 700;
}
.Ultimate2012{
    font-size: 20vh;
    font-weight: 500;
}
:root{
    --green:#155f36;
    --azul:#2980F2;
    --blanco:#FFFFFF;
    --black:black;
}


.Titulo{
    font-size: 60px;    font-weight: 700;
  
    color: #FFFFFF;
}
.SubTitle{
    font-size: 40px;
    font-weight: 500;
    
}
.parrafos{
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    color: var(--text-color);
}


.T_Center{
    text-align: center;
}
.T_Star{
    text-align: left;
}
.Fonts_White{
    color: #FFFFFF;
}
.Fonts_Green{
    color:var(--green);
}